$bg-bord:#E94D35;
$bl-color:#000000;
$white-color:#FFFFFF;
$info-color:#FAFAFA;
$info-present:#A3A3A3;
$info-text:#525252;
$span-color:#EEEEEE;

$border:#F2F2F2;

$cros-color:#D9D9D9;

$bg-bord-hover:#E94D35;
